# Generate source files
/coffee-script.cc
/livescript.cc
/plv8_config.h

# Generated test and install files
/plcoffee--*.sql
/plcoffee.control
/plls--*.sql
/plls.control
/plv8--*.sql
/plv8.control

# Generic build files
*.o
*.so

# For static build
/build

# Test results
/results

# For packaging
plv8-*.zip

# Web
/contrib/web/node_modules
/contrib/web/index.html

# For MSVC
/platforms/windows/*.vcxproj
/platforms/windows/*.vcxproj.filters
/platforms/windows/*.vcxproj.user
/platforms/windows/*.control
/platforms/windows/plv8_config.h
/platforms/windows/*.sql
/platforms/windows/*.sln
/platforms/windows/CMakeCache.txt
/platforms/windows/CMakeFiles
/platforms/windows/Release
/platforms/windows/Debug
/platforms/windows/cmake_install.cmake
/platforms/windows/libplv8.dir
/platforms/windows/vendor
/platforms/windows/x64
/platforms/windows/CPackConfig.cmake
/platforms/windows/CPackSourceConfig.cmake
/platforms/windows/_CPack_Packages
/platforms/windows/install_manifest.txt
/platforms/windows/plv8*.zip
/platforms/windows/plv8*.sql
/platforms/windows/.vs